.ipynb_checkpoints/
# Ignore EEG raw data
*.fdt
*.set
*.edf
*.bdf
*ds004584-main
*rEEG
*git-annex-installer (1).exe
*anaconda_projects

# Ignore JSON/TSV metadata if you want
*.json
*.tsv

# Ignore VS Code settings
.vscode/

# Ignore Python cache
__pycache__/
*.pyc
echo "ds004584-main.zip" >> .gitignore
echo "out_data/*.fif" >> .gitignore
echo "out_data/sample_BIDS/**/*.fif" >> .gitignore
